<div id="wrapper">
    <header id="header">
        <div fxLayout="row">
            <a class="btn-back" [routerLink]="['/']">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>

        <h1 class="title">K-Nearest Neighbor</h1>
    </header>

    <section id="main" fxLayout="column" fxLayoutGap="20px">
        <div>
            <h2>1. Abstract</h2>
            <div class="description">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;KNN알고리즘은 K-Nearest Neighbor, 즉, k개 최근접 이웃 알고리즘으로 머신러닝
                    지도학슴(Supervised)의 분류(Classification) 알고리즘에 해당한다. 간단한 머신러닝 알고리즘 중 하나이다. 입력데이터와 근접한 K개의 훈련 데이터셋(Data set)사이에서 가장 빈번한 것으로 분류하는 알고리즘이다.
                </p>
            </div>
        </div>

        <div>
            <h2>2. 특징</h2>
            <div class="description">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;- 거리 척도로는 Euclidean distance 또는 Hamming distance를 사용한다.<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;- 간단한 알고리즘인 만큼 일관성이 뛰어나다.<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;- 모든 데이터셋 사이의 거리를 계산하여야 하므로 데이터셋이 다량일경우 많은 계산량을 요구한다.
                </p>
            </div>
        </div>

        <div>
            <h2>3. 흐름도 및 시각화</h2>
            <div *ngIf="!selectData" class="data-select" fxLayout="row" fxLayoutAlign="center center"
                 fxLayoutGap="12px">
                <input matInput type="number" placeholder="k값 입력" [(ngModel)]="k"/>
                <input matInput type="number" placeholder="x값 입력" [(ngModel)]="x"/>
                <input matInput type="number" placeholder="y값 입력" [(ngModel)]="y"/>

                <button (click)="dataSelect()">확인</button>
            </div>
            <div *ngIf="selectData" class="flowchart" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <span (click)="OpenDetailDialog(1)">데이터({{this.x}}, {{this.y}}) ,  K값({{this.k}}) 입력</span>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span (click)="OpenDetailDialog(2)">모든 데이터셋과 거리 계산</span>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span (click)="OpenDetailDialog(3)">거리가 짧은 순서로 K({{this.k}})개 만큼 선택</span>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span (click)="OpenDetailDialog(4)">선택한 값 중 다수 값으로 분류</span>

                <button (click)="resetData()">reset</button>
            </div>
        </div>

        <div>
            <h2>4. code</h2>
            <div class="code" fxLayoutAlign="center center">
                <p>
                    import pandas as pd<br>
                    from sklearn.neighbors import KNeighborsClassifier<br>
                    <br>
                    df = pd.read_csv("creditlimit_train.csv") # train dataset<br>
                    <br>
                    # convert class labels in numerical data, assuming you have two classes<br>
                    df['Level'].replace(['Low Level'],0)<br>
                    df['Level'].replace(['High Level'],1)<br>
                    <br>
                    # extra data and class labels<br>
                    data = df[['Salary','LoanAmt']]<br>
                    target = df['Level']<br>
                    <br>
                    # convert df to numpy arrays<br>
                    data = data.values<br>
                    target = target.values<br>
                    <br>
                    # you would ideally want to do a test train split.<br>
                    #Train the model on training data and test on the test data for accuracy<br>
                    <br>
                    #pass in fit function<br>
                    neigh = KNeighborsClassifier(n_neighbors=5,algorithm='auto')<br>
                    neigh.fit(data,target) ## how to passs the parameters here?
                </p>
            </div>
        </div>

        <div>
            <h2>5. 문제 풀기</h2>
            <div fxLayoutAlign="center center">
                <button (click)="openProblemDialog()">문제 풀기</button>
            </div>
        </div>
    </section>


    <footer id="footer">
        <p>&copy; 머신중헌디. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>.</p>
    </footer>
</div>

<ngx-loading [show]="loadingService.loading.value" [config]="{fullScreenBackdrop: true}"
             [template]="paymentLoadingTemplate">
    <ng-template #paymentLoadingTemplate>
    </ng-template>
</ngx-loading>
