
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
}

.code {
  padding: 4px !important;
  background-color: rgba(255, 255, 255, 0.65);
  color: black !important;
}

.flowchart {
  display: flex;
  flex-direction: column;

  .svg {
    width: 400px;
    height: 600px;
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
  }
}
