
//.grid-3-col {
//  display: grid;
//  grid-template-columns: repeat(3, 1fr);
//  column-gap: 12px;
//}
//
//.code {
//  padding: 4px !important;
//  background-color: rgba(255, 255, 255, 0.65);
//  color: black !important;
//}
//
//.flowchart {
//  display: flex;
//  flex-direction: column;
//
//  .svg {
//    width: 400px;
//    height: 600px;
//  }
//
//  .button {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: center;
//    background-color: rgba(0, 0, 0, 0);
//  }
//
//  .add-input {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: center;
//    background-color: rgba(0, 0, 0, 0);
//
//    input {
//      background-color: rgba(255, 255, 255, 0.35);
//      color: black;
//    }
//  }
//
//  .predict {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: center;
//    background-color: rgba(0, 0, 0, 0);
//
//    input {
//      background-color: rgba(255, 255, 255, 0.35);
//      color: black;
//    }
//  }
//
//  .prediction {
//    display: flex;
//    flex-direction: row;
//    justify-content: flex-start;
//    align-items: center;
//    background-color: rgba(0, 0, 0, 0);
//  }
//}
//
//input {
//  color: black;
//}



#header {
  padding-top: 36px;
  padding-bottom: 28px;
}

#footer {
  padding-top: 48px;
  padding-bottom: 36px;
}

.btn-back {
  border: unset;
  text-align: center;

  mat-icon {
    font-size: 28px;
  }
}

.title {
  margin-top: 12px;
}

.description {

  p {
    margin-top: 8px;
    word-break: keep-all;
      display:flex;
      justify-content:center;
  }

  img {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    width: 360px;
    height: auto;
    object-fit: none;
  }
}

.flowchart {
  margin-top: 36px;

  span {
    word-break: keep-all;
    text-align: center;
    cursor: pointer;
    border: 1px solid #707070;
    border-radius: 8px;
    color: #707070;
    background-color: #fff;
    padding: 8px 12px;
  }

  mat-icon {
    font-size: 28px;
  }
}
