a {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  img {
    width: 260px;
    height: 240px;
    object-fit: contain;
    pointer-events: none;
    background-color: white;
  }

  h3 {
    word-break: keep-all;
    color: rgba(255, 255, 255, 0.8);
  }
}
