<div id="wrapper">
    <header id="header">
        <span class="avatar"><img src="../assets/avatar.jpg" alt=""/></span>

        <h1>This is <strong> a Machine Learning Visualization</strong> website made by 머신중헌디, PNU</h1>
    </header>

    <section id="main">
        <section class="thumbnails">
            <div>
                <a [routerLink]="['/knn']">
                    <img src="../assets/thumbs/01.jpg" alt=""/>
                    <h3>K-Nearest Neighbor</h3>
                </a>
            </div>

            <div>
                <a [routerLink]="['/linear-regression']">
                    <img src="../assets/thumbs/linear_regression_logo.png" alt=""/>
                    <h3>Linear Regression</h3>
                </a>
            </div>

            <div>
                <a [routerLink]="['/gan']">
                    <img src="../assets/thumbs/gan_logo_1.png" alt=""/>
                    <h3>GAN - MNIST 데이터 생성하기</h3>
                </a>
            </div>

            <div>
                <a [routerLink]="['/cnn']">
                    <img src="../assets/thumbs/Thumbnail_CNN.png" alt=""/>
                    <h3>CNN</h3>
                </a>
            </div>
            
        </section>
    </section>

    <footer id="footer">
        <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a
                href="http://unsplash.com">Unsplash</a>.</p>
    </footer>
</div>
