<div *ngIf="!isSubmit" fxLayout="column" fxLayoutGap="12px">
    <div>
        <span>1. KNN의 뜻은?</span>
        <input type="text" [(ngModel)]="answer1">
    </div>

    <div>
        <span>2. 머신러닝은 크게 지도학습, 비지도학습, 강화학습으로 나뉠 수 있다. KNN알고리즘은 어디에 속하는가?</span>
        <input type="text" [(ngModel)]="answer2">
    </div>

    <div>
        <span>3. KNN알고리즘의 특징으로 틀린 것은?</span>
        <mat-radio-group [(ngModel)]="answer3" fxLayout="column">
            <mat-radio-button value="1">일관성있는 결과를 도출한다.</mat-radio-button>
            <mat-radio-button value="2">거리 척도를 구하기 위해 Euclidean distance 또는 Hamming distance를 사용한다.</mat-radio-button>
            <mat-radio-button value="3">단순한 알고리즘을 사용하기 때문에 데이터 셋이 다량일 경우에도 많은 계산량을 요구하지 않는다.</mat-radio-button>
            <mat-radio-button value="4">지도학습 알고리즘의 하나로 분류 알고리즘에 해당한다.</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
        <span>4. KNN알고리즘에서 매개변수 K 선정 시 고려할 사항으로 옳은 것은?</span>
        <mat-radio-group [(ngModel)]="answer4" fxLayout="column">
            <mat-radio-button value="1">K값은 클수록 좋다.</mat-radio-button>
            <mat-radio-button value="2">K값은 작을수록 좋다.</mat-radio-button>
            <mat-radio-button value="3">짝수보다 홀수로 선정하는 것이 좋다.</mat-radio-button>
            <mat-radio-button value="4">홀수보다 짝수로 선정하는 것이 좋다.</mat-radio-button>
        </mat-radio-group>
    </div>

    <button (click)="submit()">제출</button>
</div>

<div *ngIf="isSubmit">
    <span style="font-weight:bold">당신의 점수는? {{this.score}} / 100 <br><br> </span> 
    <div>
        <span>1. KNN의 뜻은?</span>
        <input type="text" value="k-nearest neighbor">
        <span>해설: <br><br></span>
    </div>

    <div>
        <span>2. 머신러닝은 크게 지도학습, 비지도학습, 강화학습으로 나뉠 수 있다. KNN알고리즘은 어디에 속하는가?</span>
        <input type="text" value="지도학습">
        <span>해설: <br><br></span>
    </div>

    <div>
        <span>3. KNN알고리즘의 특징으로 틀린 것은?</span>
        <mat-radio-group [(ngModel)]="answer3" fxLayout="column">
            <mat-radio-button value="1">일관성있는 결과를 도출한다.</mat-radio-button>
            <mat-radio-button value="2">거리 척도를 구하기 위해 Euclidean distance 또는 Hamming distance를 사용한다.</mat-radio-button>
            <mat-radio-button value="3" [checked]="true">단순한 알고리즘을 사용하기 때문에 데이터 셋이 다량일 경우에도 많은 계산량을 요구하지 않는다.</mat-radio-button>
            <mat-radio-button value="4">지도학습 알고리즘의 하나로 분류 알고리즘에 해당한다.</mat-radio-button>
        </mat-radio-group>
        <span>해설: <br><br></span>
    </div>

    <div>
        <span>4. KNN알고리즘에서 매개변수 K 선정 시 고려할 사항으로 옳은 것은?</span>
        <mat-radio-group [(ngModel)]="answer4" fxLayout="column">
            <mat-radio-button value="1">K값은 클수록 좋다.</mat-radio-button>
            <mat-radio-button value="2">K값은 작을수록 좋다.</mat-radio-button>
            <mat-radio-button value="3" [checked]="true">짝수보다 홀수로 선정하는 것이 좋다.</mat-radio-button>
            <mat-radio-button value="4">홀수보다 짝수로 선정하는 것이 좋다.</mat-radio-button>
        </mat-radio-group>
        <span>해설: <br><br></span>
    </div>

</div>
