<img class="btn-close" mat-dialog-close src="assets/icon_close_black.svg"/>

<div *ngIf="!isSubmit" fxLayout="column" fxLayoutGap="12px">
    <div>
        <span>1. KNN의 뜻은?</span>
        <input type="text" [(ngModel)]="answer1">
    </div>

    <div>
        <span>2. 머신러닝은 크게 지도학습, 비지도학습, 강화학습으로 나뉠 수 있다. KNN알고리즘은 어디에 속하는가?</span>
        <input type="text" [(ngModel)]="answer2">
    </div>

    <div>
        <span>3. KNN알고리즘의 특징으로 틀린 것은?</span>
        <mat-radio-group [(ngModel)]="answer3" fxLayout="column">
            <mat-radio-button value="1">일관성있는 결과를 도출한다.</mat-radio-button>
            <mat-radio-button value="2">거리 척도를 구하기 위해 Euclidean distance 또는 Hamming distance를 사용한다.</mat-radio-button>
            <mat-radio-button value="3">단순한 알고리즘을 사용하기 때문에 데이터 셋이 다량일 경우에도 많은 계산량을 요구하지 않는다.</mat-radio-button>
            <mat-radio-button value="4">지도학습 알고리즘의 하나로 분류 알고리즘에 해당한다.</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
        <span>4. KNN알고리즘에서 매개변수 K 선정 시 고려할 사항으로 옳은 것은?</span>
        <mat-radio-group [(ngModel)]="answer4" fxLayout="column">
            <mat-radio-button value="1">K값은 클수록 좋다.</mat-radio-button>
            <mat-radio-button value="2">K값은 작을수록 좋다.</mat-radio-button>
            <mat-radio-button value="3">짝수보다 홀수로 선정하는 것이 좋다.</mat-radio-button>
            <mat-radio-button value="4">홀수보다 짝수로 선정하는 것이 좋다.</mat-radio-button>
        </mat-radio-group>
    </div>

    <button (click)="submit()">제출</button>
</div>

<div *ngIf="isSubmit">
    <strong>당신의 점수는? {{this.score}} / 100 <br><br> </strong>
    <div>
        <span>1. KNN의 뜻은?</span>
        <input type="text" value="k-nearest neighbor" disabled>
        <span>해설: k-nearest neighbor, k-최근접 이웃이라는 뜻입니다.<br><br></span>
    </div>

    <div>
        <span>2. 머신러닝은 크게 지도학습, 비지도학습, 강화학습으로 나뉠 수 있다. KNN알고리즘은 어디에 속하는가?</span>
        <input type="text" value="지도학습" disabled>
        <span>해설: KNN알고리즘은 지도학습의 대표적인 분류 알고리즘입니다.<br><br></span>
    </div>

    <div>
        <span>3. KNN알고리즘의 특징으로 틀린 것은?</span>
        <mat-radio-group fxLayout="column" disabled>
            <mat-radio-button value="1">일관성있는 결과를 도출한다.</mat-radio-button>
            <mat-radio-button value="2">거리 척도를 구하기 위해 Euclidean distance 또는 Hamming distance를 사용한다.</mat-radio-button>
            <mat-radio-button value="3" [checked]="true">단순한 알고리즘을 사용하기 때문에 데이터 셋이 다량일 경우에도 많은 계산량을 요구하지 않는다.</mat-radio-button>
            <mat-radio-button value="4">지도학습 알고리즘의 하나로 분류 알고리즘에 해당한다.</mat-radio-button>
        </mat-radio-group>
        <span>해설: KNN알고리즘은 모든 데이터 셋과 거리를 계산하므로 데이터 셋이 다량일수록 계산량이 늘어납니다.<br><br></span>
    </div>

    <div>
        <span>4. KNN알고리즘에서 매개변수 K 선정 시 고려할 사항으로 옳은 것은?</span>
        <mat-radio-group fxLayout="column" disabled>
            <mat-radio-button value="1">K값은 클수록 좋다.</mat-radio-button>
            <mat-radio-button value="2">K값은 작을수록 좋다.</mat-radio-button>
            <mat-radio-button value="3" [checked]="true">짝수보다 홀수로 선정하는 것이 좋다.</mat-radio-button>
            <mat-radio-button value="4">홀수보다 짝수로 선정하는 것이 좋다.</mat-radio-button>
        </mat-radio-group>
        <span>해설: 동률을 피하기 위해 K값을 홀수로 정하는것이 좋습니다.<br><br></span>
    </div>

</div>
