<div id="wrapper">
    <header id="header">
        <div fxLayout="row">
            <a class="btn-back" [routerLink]="['/']">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
        </div>

        <h1 class="title">Generative Adversarial Network</h1>
    </header>

    <section id="main">
        <h2> 1. Abstract</h2>
        <div class="description">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img src="assets/result-img/gan/gan_1.png"/>

                <p><br>
                    *위조지폐범 : 최대한 진짜 같은 화폐를 만들어(생성) 경찰을 속이기 위해 노력함.<br>
                    *경찰 : 진짜 화폐와 가짜 화폐를 완벽히 판별(분류)하여 위조지폐범을 검거하는 것을 목표로 함.<br>
                </p>
            </div>

        </div>

        <h2>2. 특징</h2>
        <div class="description">
            <p>
                &nbsp;&nbsp;이러한 경쟁적인 학습이 지속되다 보면 어느 순간 위조지폐범은 진짜와 다를 바 없는 위조지폐를 만들 수 있게 되고 경찰이 위조지폐를 구별할 수 있는 확률도 가장 헷갈리는 50%로 수렴하게
                되어 경찰은 위조지폐와 실제 화폐를 구분할 수 없는 상태에 이르게 됩니다.<br>
                여기서 경찰은 discriminator, 위조지폐범은 generator를 의미하며, GAN에는 최대한 진짜 같은 데이터를 생성하려는 generator와 진짜와 가짜를 판별하려는
                discriminator가 각각 존재하여 서로 적대적으로 학습합니다.
            </p>
        </div>

        <h2>3. 시각화</h2>
        <div class="flowchart" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <span (click)="OpenDetailDialog(1)">learning rate, epoch, batch size, noise 입력</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span (click)="OpenDetailDialog(2)">모델 학습하기</span>
        </div>
    </section>


    <footer id="footer">
        <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>.</p>
    </footer>
</div>
