.dialog-wrapper {
  position: relative;

  .btn-close {
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
    width: 36px;
    height: 36px;

    mat-icon {
      font-size: 36px;
    }
  }

  .step {
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    word-break: keep-all;
  }

  .log {
    margin-top: 8px;
  }

  .image {
    margin-top: 20px;
  }

  .image-size {
    margin-top: 40px;
    width: 840px;
    height: auto;
    object-fit: cover;
  }
}
