.dialog-wrapper {
  height: 100%;
  position: relative;

  .btn-close {
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
    width: 36px;
    height: 36px;

    mat-icon {
      font-size: 36px;
    }
  }

  .step {
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    word-break: keep-all;
  }

  .pseudo-code {
    border: 1px solid #c1c1c1;
    padding: 0 12px;

    ::ng-deep div {
      display: flex;
      flex-direction: column;
    }

    ::ng-deep span.current-step {
      font-weight: bold;
      color: #ff6385;
    }
  }

  .log {
    margin-top: 8px;
  }

  .image {
    margin-top: 20px;
    max-width: 960px;
    max-height: 480px;

    flex: 1;
    object-fit: contain;
  }

  .image-size {
    margin-top: 40px;
    width: 840px;
    height: auto;
    object-fit: contain;
  }

  .image-size-linear {
    margin-top: 56px;
    width: 640px;
    height: auto;
    object-fit: contain;
  }

  .linear {
    margin-top: 4px;

    span:not(:first-child) {
      margin-top: 2px;
    }
  }

  .btn-prev {
    position: absolute;
    bottom: 12px;
    left: 12px;
  }

  .btn-next {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }

  .gene {
    span {
      text-align: center;
    }
  }
}
