/* You can add global styles to this file, and also import other style files */
@import "assets/css/templete";

#tfjs-visor-container {
  a, div, span, th {
    color: black;
  }

  button {
    line-height: unset;
  }
}

body {
  min-width: 1280px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
